/.idea
/.vscode
/build
/dist
/popular_data_skills.egg-info
/README.rst
/venv
/__pycache__
/popular_data_skills/__pycache__
/popular_data_skills/web_scrapers/indeed_scracper.py
/popular_data_skills/data/__pycache__
